.ipynb_checkpoints
runs
football-players-detection-2
football-field-detection-1
yolov8n-pose.pt
yolov8n.pt
yolov8s.pt
__pycache__
models/weights
stubs
.conda
config.py
analysis/data/keypoints
old-object_tracker.py
video2.mp4
video.mp4
*_tracks.json
